@page
@model Bookonomie.Views.Login.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="content" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="text-align: center;">
        <h1>Register</h1>
        <p>Already have an Account? <a asp-page="Login">Sign In</a></p> 

        <form method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="Username" value="@Model.Username" required /> 
            </div>
            <br />
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="Password" value="@Model.Password" required /> 
            <br />
            <button type="submit">Register</button>
            <br />
            <p style="color: red;">@Model.ErrorMessage</p> 
        </form>
    </div>
</div>

