@{
    ViewBag.Title = "Register";
}

<div class="container" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="card" style="width: 400px; padding: 20px;">
        <h2 class="text-center">Register</h2>
        <p class="text-center">
            Already have an Account?
            <a asp-controller="Login" asp-action="Login">Sign In</a>
        </p>

        <form method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" required />
            </div>
            </br>
            <button type="submit" class="btn btn-primary btn-block">Register</button>

            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <p class="text-danger mt-3">@ViewBag.ErrorMessage</p>
            }
        </form>
    </div>
</div>
